html, body {
    padding: 0;
    margin: 0;
}

.flexcontainer {
    display: flex;
    flex-direction: row;
    min-height: 100%;
    align-items: stretch;
}

#canvas-left {
    order: -1;
    flex: 0 0 20vh;
}

.sidebar {
    position: fixed;
    width: 20vh;
}

#content {
    order: 1;
}
